@font-face {
    font-family: aqib;
    src: url("../fonts/OpenSans-Light.ttf");
}

body {
    
    padding: 5%;
    margin: auto;
    max-width: 1600px;
    min-height: 100vh;
    font-family: aqib;
    min-width: 100vh;
    min-height: 100vh;
    
}

.container{
    background-color: blue;
    
}

.container::after{
    display: block;
    content: "";
    clear: left;
    
}

#first {
    float: left;
    width: 500px;
    height: 150px;
    animation-name: animate1;
    animation-duration: 2s;
    animation-direction: alternate;
    animation-iteration-count: 0;

}

#second {
    color: wheat;
    float: right;
    width: 500px;
    height: 150px;
    animation-name: animate2;
    animation-duration: 2s;
    animation-direction: alternate;
    animation-iteration-count: 0;

}

@keyframes animate1 {
    from {
        transform: translateY(-600px);
    }

    to {
        transform: translateY(0);
    }
}

@keyframes animate2 {
    from {
        transform: translateY(-600px);
    }

    to {
        transform: translateY(0);
    }
}

#demo {
    width: 280px;
    height: 100px;
    background-color: rgb(188, 211, 106);
    clip-path: polygon(0 0, 100% 0, 75% 100%, 0 100%);

}

#nemoprh{
    margin-top: 5px;
    padding: 5px;
    width: 50%;
    height: 500px;
    background-color: rgb(77, 1, 77);
}

.nemorphisim{
    margin: 50px  0 0 15px;
    background-color: rgb(77, 1, 77);
    width: 80%;
    height: 100px;
    text-align: center;
    padding: 5px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2), -2px -2px 2px rgba(255, 255, 255, 0.3),15px 15px 15px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
}


.dropshadow h1{

    margin-top: 150px;
    color: rgb(77, 1, 77);
    filter: drop-shadow(-2px -2px 2px rgba(255, 255, 255, 0.2))
            drop-shadow(2px 2px 3px rgba(0, 0, 0, 0.5))
            drop-shadow(15px 15px 15px rgba(0, 0, 0, 0.2));
}

.textshadow h1:hover{
    color: rgb(255, 57, 116);
    text-shadow: 2px 2px 5px rgb(150, 236, 11);
}
#bg-changer > div{
    width: 150px;
    height: 50px;
    margin: 5px;
    background-color: rgb(245, 245, 245);
    border: 2px solid black;
    position: relative;
    transform: translate(50%,100%);
    
    text-align: center;
    padding: 2px 10px;
    
    /* animation: animate1 5s linear infinite; */
    
}

#bg-changer > div h2{
    color: violet;
    mix-blend-mode: difference;
}

#bg-changer > div::before{
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    animation: animate1 3s linear infinite;
    
}


@keyframes animate1{
    0%{
        transform-origin: left;
        transform: scaleX(0);
    }
    50%{
        
        transform-origin: left;
        transform: scaleX(1);
    }
    51%{
        transform-origin: right;
        transform: scaleX(1);
    }
    100%{
        transform-origin: right;
        transform: scaleX(0);
    }
}

#jumping{
    background-color: brown;
    width: 250px;
    height: 100px;
    transform: translate(150px, 150px);

}
#jumping h2 span{
    padding: 40px 20px;
    font-size: xx-large;
    color: rgb(0, 255, 221);
    display: table-cell;
    animation: animate2 1s linear infinite;
    text-shadow: 0 2px 0 rgb(160, 157, 157),
                    0 2px 0 rgb(160, 157, 157),
                    0 2px 0 rgb(160, 157, 157),
                    0 2px 5px rgba(0, 0, 0,0.5);
}

@keyframes animate2{
    0%{
        transform: translateY(0);
        text-shadow: 0 2px 0 rgb(160, 157, 157),
                    0 2px 0 rgb(160, 157, 157),
                    0 2px 0 rgb(160, 157, 157),
                    0 2px 5px rgba(0, 0, 0,0.5);
    }
    50%{
        transform: translateY(-30px);
        text-shadow: 0 2px 0 rgb(160, 157, 157),
                    0 2px 0 rgb(160, 157, 157),
                    0 2px 0 rgb(160, 157, 157),
                    0 25px 5px rgba(0, 0, 0,0.5);
    }
    100%{
        transform: translateY(0);
        text-shadow: 0 2px 0 rgb(160, 157, 157),
                    0 2px 0 rgb(160, 157, 157),
                    0 2px 0 rgb(160, 157, 157),
                    0 2px 5px rgba(0, 0, 0,0.5);
    }
}
#jumping h2 span:nth-child(1){
    animation-delay: .1s;
    
}

#jumping h2 span:nth-child(2){
    animation-delay: .2s;
}

#jumping h2 span:nth-child(3){
    animation-delay: .3s;
}

#jumping h2 span:nth-child(4){
    animation-delay: .4s;
}

#img-color-changer{
    transform: translate(250px, 250px);
    /* background-color: rgb(228, 25, 25); */
    width: 300px;
    height: 300px;
}

#img-color-changer img{
    
    width: 300px;
    height: 300px;
}

#img-color-changer::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    
    width: 100%;
    height: 100%;
    mix-blend-mode: hue;
    animation: animate3 20s linear infinite;
}

@keyframes animate3{
    0%{
        background-color: rgb(0, 0, 0);
    }
    10%{
        background-color: rgba(243, 89, 89, 0.5);
    }
    20%{
        background-color: rgba(243, 181, 9, 0.993);
    }
    30%{
        background-color: rgba(192, 231, 20, 0.5);
    }
    40%{
        background-color: rgba(20, 231, 38, 0.5);
    }
    50%{
        background-color: rgb(20, 231, 196);
    }
    60%{
        background-color: rgba(125, 65, 236, 0.5);
    }
    70%{
        background-color: rgb(35, 91, 245);
    }
    80%{
        background-color: rgb(248, 85, 161);
    }
    90%{
        background-color: rgba(163, 95, 226, 0.5);
    }
    100%{
        background-color: rgb(255, 255, 255);
    }
}

#loader-ring{
    margin: 50px;
    width: 10px;
    height: 10px;
    background: transparent;
    border: 40px solid transparent;
    border-top-color: #262626;
    border-bottom-color: #262626;
    border-radius: 50%;
    box-shadow: 0 0 0 5px #ffffff, 0 0 0 10px #262622;
    animation: animate4 2s linear infinite;
}

@keyframes animate4{
    0%{
        transform: rotate(0);
    }
    100%{
        transform: rotate(360deg);
    }
}

#card-hover{
    position: relative;
    top: 100px;
    left: 20px;
    margin-bottom: 10%;
}
#card-hover .card{
    width: 25%;
    height: 400px;
    text-align: center;
    
}
#card-hover .card-head img{
    width: 280px;
    height: 100px;
}

#card-hover .card-body,.card-head{
    transition: 2s;
}
#card-hover .card-head{
    /* display: flex; */
    border: 2px solid rgb(253, 0, 0);
    height: 50%;
    color: rgb(0, 255, 255);
    background: crimson;
    z-index: 1;
    transform: translateY(120px);
    
}

#card-hover .card:hover .card-head{
    transform: translateY(0);
    
}

#card-hover .card-body{
    transform: translateY(-100px);
    position: relative;
    height: 50%;
    top: 0;
    background: wheat;
    z-index: -1;
}

#card-hover .card:hover .card-body {
    transform: translateY(0);
}

#icon{
    width: 50%;
    height: auto;
}
#icon .fas{
    font-size: larger;
    color: tomato;
    z-index: 1;
    
}

/* #icon::before{
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: rgb(243, 21, 21);
    
    
} */

#icon:hover .fas{
    animation: animate5 0.5s linear 1;
    cursor: pointer;
    color: tomato;
    
}

@keyframes animate5{
    0%{
        color: tomato;
        /* transform-origin: left;
        transform: scaleX(0); */
        
    }
    70%{
        transform-origin: left;
        transform: scaleX(1);
        color: rgb(255, 255, 255);
    }
    100%{
        color: tomato;
        /* transform-origin: right;
        transform: scaleX(1); */
        
    }
}

#side-border{
    position: relative;
    margin-top: 20px;
    width: 250px;
    padding: 15px;
    transition: 2s;
    overflow: hidden;
}
.content{
    position: relative;
    border: 1px solid black;
}

#side-border .content{
    color: blue;
}


#side-border span:nth-child(1){
    position: absolute;
    display: block;
    left: -100%;
    top: 0;
    width: 100%;
    height: 5px;
    background: linear-gradient(rgb(250, 250, 7),rgb(12, 126, 240),rgb(255, 30, 9));
}

#side-border span:nth-child(2){
    position: absolute;
    display: block;
    top: -100%;
    right: 0;
    width: 5px;
    height: 100%;
    background: linear-gradient(rgb(250, 250, 7),rgb(12, 126, 240),rgb(255, 30, 9));
}
#side-border span:nth-child(3){
    position: absolute;
    display: block;
    bottom: -100%;
    left: 0;
    width: 5px;
    height: 100%;
    background: linear-gradient(rgb(250, 250, 7),rgb(12, 126, 240),rgb(255, 30, 9));
} 
#side-border span:nth-child(4){
    position: absolute;
    display: block;
    right: -100%;
    bottom: 0;
    width: 100%;
    height: 5px;
    background: linear-gradient(rgb(250, 250, 7),rgb(12, 126, 240),rgb(255, 30, 9));
}


#side-border:hover  span:nth-child(1){
    left: 100%;
    transition: 1s;
    /* transition-delay: 0.5s; */
}

#side-border:hover  span:nth-child(2){
    top: 100%;
    transition: 1s;
    transition-delay: 0.5s;
}

#side-border:hover  span:nth-child(3){
    bottom: 100%;
    transition: 1s;
    transition-delay: 1s;
}

#side-border:hover  span:nth-child(4){
    right: 100%;
    transition: 1s;
    transition-delay: 0.75s;
}

#card{
    
    display: flex;
    box-sizing: border-box;
    padding: 2%;
    margin: 2%;
    color: #ffffff;
}

#card .bg-change{
    text-align: center;
    background-color: #262626;
    padding: 2%;
    margin-right: 2%;
}

#card .bg-change:hover{
    transition: 2s;
    animation: animate6 1s linear infinite;
    
}

@keyframes animate6{
    0%{
        background: linear-gradient(rgb(216, 216, 208),rgb(240, 141, 12),rgb(138, 34, 25));
    }
    50%{
        background: linear-gradient(rgb(209, 7, 250),rgb(240, 12, 172),rgb(255, 30, 9));
    }
    75%{
        background: linear-gradient(rgb(28, 218, 208),rgb(21, 239, 255),rgb(255, 30, 9));
    }
    100%{
        background: linear-gradient(rgb(250, 250, 7),rgb(12, 126, 240),rgb(255, 30, 9));
    }
}